<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="msghead">
    <meta charset="UTF-8"/>
    <link type="text/css" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/messagelist.js"></script>

</head><body>
<nav data-th-replace="menu :: msgmenu"></nav>
<div class="container">
    <h2>Üzenetek</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Üzenet szerzője</td>
            <td>Üzenet</td>
            <td>Dátum</td>
            <td data-sec-authorize="hasAuthority('DELETE_MESSAGE')">Törölt?</td>
            <td></td>
        </tr>
        </thead>
        <tr data-th-id="${'row_' + msg.id}"  data-th-each="msg: ${allmessages}" data-th-classappend="${msg.deleted ? 'text-muted' : ''}">
            <td data-th-text="${msg.id}"></td>
            <td data-th-text="${msg.author.username}"></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${{msg.creationTime}}"></td>
            <span data-sec-authorize="hasAuthority('DELETE_MESSAGE')">

                <td data-th-if="${msg.deleted}">
                    <span>Igen</span>
                    <a data-th-id="${msg.id}" class="restoreLink delrestore" href="#" >(Visszaállít)</a>
                </td>
                <td data-th-if="${!msg.deleted}">
                    <span>Nem</span>
                    <a data-th-id="${msg.id}" class="delLink delrestore" href="#">(Töröl)</a>
                </td>
            </span>

            <td><a data-th-href="@{/message/{id}(id=${msg.id})}" data-th-text="${msg.id}"></a></td>

        </tr>
    </table>
    <form method="post" data-th-action="@{/ize}" data-th-id="csrf_form" style="display: none"></form>



</div>
</body>
</html>