<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Üzenetek</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h2>Üzenetek</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Üzenet szerzője</td>
            <td>Üzenet</td>
            <td>Dátum</td>
        </tr>
        </thead>
        <tr data-th-each="msg: ${allmessages}">
            <td data-th-text="${msg.author}"></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${msg.creationTime}"></td>
        </tr>
    </table>

</div>
</body>
</html>