<!DOCTYPE html>
<html lang="en">
<head data-th-replace="menu :: msghead"></head>
<body>
<nav data-th-replace="menu :: msgmenu"></nav>
<div class="container">
    <h2>Üzenetek</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Üzenet szerzője</td>
            <td>Üzenet</td>
            <td>Dátum</td>
            <td data-sec-authorize="hasAuthority('DELETE_MESSAGE')">Törölt?</td>
            <td></td>
        </tr>
        </thead>
        <tr data-th-each="msg: ${allmessages}" data-th-classappend="${msg.deleted ? 'text-muted' : ''}">
            <td data-th-text="${msg.id}"></td>
            <td data-th-text="${msg.author}"></td>
            <td data-th-text="${msg.text}"></td>
            <td data-th-text="${{msg.creationTime}}"></td>
            <span data-sec-authorize="hasAuthority('DELETE_MESSAGE')">
                <td data-th-if="${msg.deleted}">Igen <a data-th-href="@{/message/restore/{id}(id=${msg.id})}">(Visszaállít)</a></td>
                <td data-th-if="${! msg.deleted}">Nem <a data-th-href="@{/message/delete/{id}(id=${msg.id})}">(Töröl)</a></td>
            </span>

            <td><a data-th-href="@{/message/{id}(id=${msg.id})}" data-th-text="${msg.id}"></a></td>

        </tr>
    </table>

</div>
</body>
</html>