<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-fragment="msghead">
    <meta charset="UTF-8"/>
    <link type="text/css" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link type="text/css" href="/css/datepicker.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/locales/hu.min.js"></script>
    <script src="/js/datepicker.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Regisztráció</h5>
                    <form data-th-action="@{/register}" method="post" data-th-object="${user}" data-th-classappend="${#fields.hasAnyErrors() ? 'was-validated' : ''}">
                        <div class="form-group">
                            <label for="username">Login név</label>
                            <input data-th-required="${#fields.hasErrors('username')}" class="form-control" type="text" id="username" data-th-field="*{username}">
                            <div class="text-danger" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}">Error</div>
                        </div>
                        <div class="form-group">
                            <label for="password">Jelszó</label>
                            <input data-th-required="${#fields.hasErrors('password')}" class="form-control" type="password" id="password" data-th-field="*{password}">
                            <div class="text-danger" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}">Error</div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input data-th-required="${#fields.hasErrors('email')}" class="form-control" type="text" id="email" data-th-field="*{email}">
                            <div class="text-danger" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">Error</div>
                        </div>
                        <div class="form-group">
                            <label for="password">Születési dátum</label>
                            <input class="date form-control" type="text" data-th-field="*{dateOfBirth}">
                            <div class="text-danger" data-th-if="${#fields.hasErrors('dateOfBirth')}" data-th-errors="*{dateOfBirth}">
                                Error</div>
                        </div>
                        <button class="btn btn-primary" type="submit">Regisztráció</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            firstDayOfWeek: 1, // The first day of week is Monday
            weekDayFormat: 'narrow', // Only first letter for the weekday names
            inputFormat: 'yyyy.MM.dd',
            outputFormat: 'yyyy.MM.dd',
            markup: 'bootstrap4',
            modal: false
        });
    });
</script>

</body>
</html>